@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #111827;
  background: #f8fafc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f8fafc;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* Hide default cursor on desktop */
@media (pointer: fine) {
  body,
  a,
  button,
  input,
  textarea,
  select {
    cursor: none;
  }
}

/* Custom Cursor */
.custom-cursor-ring {
  position: fixed;
  top: 0;
  left: 0;

  width: 34px;
  height: 34px;

  border: 2px solid white;
  border-radius: 50%;

  pointer-events: none;
  z-index: 99999;

  transform: translate(-50%, -50%);

  mix-blend-mode: difference;

  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

/* Disable custom cursor on mobile */
@media (pointer: coarse) {
  .custom-cursor-ring {
    display: none;
  }
}